:root{
    --0:#000000;
    --1:#A97212;
    --2:#E80F0F;
    --3:#FF8300;
    --4:#FFE803;
    --5:#46FF00;
    --6:#0051FF;
    --7:#9B00FF;
    --8:#B0B5BB;
    --9: #ffffff;
    --silver: #C0C0C0;
    --gold:#D4AF37;
    --fondo:#EFECB9;
    --fuente: 'Karla', sans-serif;
    --fuente2: 'PT Sans', sans-serif;
    --fboton: 'Hind Siliguri', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--fondo);
}

.valor0{background-color: var(--0); height: 5rem;}
.valor1{background-color: var(--1);}
.valor2{background-color: var(--2);}
.valor3{background-color: var(--3);}
.valor4{background-color: var(--4);}
.valor5{background-color: var(--5);}
.valor6{background-color: var(--6);}
.valor7{background-color: var(--7);}
.valor8{background-color: var(--8);}
.valor9{background-color: var(--9);}
.plata{background-color: var(--silver);}
.oro{background-color: var(--gold);}

.titulo{
    font-size: 6rem;
    font-family: var(--fuente);
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
    align-items: center;
}

.forms{
    border-radius: 1.5rem;
    text-align: center;
    width: 15rem;
    height: 5rem;
    font-family: var(--fboton);
    font-size: 1.2rem;
}

.resultado{
    font-family: var(--fuente2);
    font-size: 3rem;
}

.boton{
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: var(--fboton);
    font-size: 2rem;
    color: var(--9);
    background-color:var(--0);
    height: 5rem;
    width: 12rem;
}

.bandas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--0);
}

.bandas__a{
    border: solid 1px var(--0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuente);
    font-size: 2rem;
    margin-top: 1rem;
}

.bandas__a:hover{
    font-size: 3rem;
    color: var(--2);
}